.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  padding: 0.5rem;
  border-radius: var(--radius-1);
  background-color: var(--surface-800);

  .item {
  }

  .active {
    font-weight: 500;
    text-decoration: underline;
  }
}
