.input {
  width: 100%;
  min-width: 280px;
  min-height: 3rem;
  margin-bottom: 1rem;
  padding: 8px;
  border: 1px solid var(--surface-600);
  border-radius: $radius1;
  font-size: 1.1rem;
  background-color: var(--surface-800);

  &:focus {
    border-color: var(--primary-400);
    outline: none;
    box-shadow: 0 0 5px var(--primary-400);
  }

  &::placeholder {
    font-weight: 300;
  }
}
