.content {
  .subtitle {
    margin-bottom: 4rem;
    text-align: center;
  }

  ul {
    margin-bottom: 2rem;

    ul {
      margin-left: 2rem;

      li {
        list-style: unset;
      }
    }
  }
}
