.item {
  width: fit-content;

  a {
    padding: 1rem;
    border-radius: $radius-xl;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    background-color: rgba(var(--rgb-surface-900), 0.1);
  }
}

.active {
  a {
    color: var(--on-surface-hight);
    font-weight: 600;
    background-color: var(--surface-900);
  }
}
