.item {
  width: fit-content;

  a {
    padding: 1rem;
    border-radius: $radius-xl;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
  }
}

.active {
  a {
    color: var(--primary-300);
    font-weight: 600;
    background-color: var(--primary-900);
  }
}
