.date {
  display: flex;
  align-items: center;
  color: var(--on-surface-dark-200);
  font-size: 0.8rem;
  opacity: 0.9;

  &.light {
    color: var(--on-surface-200);
  }

  svg {
    position: relative;
    bottom: 1px;
    margin-right: 2px;
    font-size: 0.9rem;
  }
}
