.link,
.button {
  width: fit-content;
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.primary {
  color: var(--primary-400);
  background-color: var(--primary-900);

  &:hover {
    color: white;
    background-color: var(--primary-300);
  }
}

.secondary {
  color: white;
  background-color: black;
}
