.link,
.button {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: $radius1;
  font-weight: 500;
  font-size: 1.1rem;
}

.button {
  border: none;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  color: white;
  background-color: black;

  &:hover {
    color: white;
    background-color: var(--primary-300);
  }
}

.secondary {
  color: white;
  background-color: black;
}
