.link,
.button {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border-radius: $radius1;
  font-weight: 600;
  font-size: 1.1rem;
}

.button {
  border: none;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  border: 2px solid black;
  color: white;
  background-color: black;

  &:hover {
    color: black;
    background-color: white;
  }
}

.secondary {
  color: white;
  background-color: black;
}
