.overlay {
  position: fixed;
  inset: 0;
  left: -100%;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: $overlay;

  &.visible {
    left: 0;
  }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 100;
  width: 100%;
  max-width: 400px;
  background-color: var(--surface-900);
  opacity: 0;
  transition: all 0.2s linear;

  .top {
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    width: 100%;
    height: $headerHeight;
    border-bottom: $border-light;
    background-color: var(--surface-900);

    .close {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: fit-content;
      border: none;
      background-color: transparent;
      cursor: pointer;

      svg {
        font-size: 1.6rem;
      }

      p {
        font-weight: 500;
        font-size: 0.9rem;
        letter-spacing: 1.2px;
        text-transform: uppercase;
      }
    }
  }

  &.active {
    left: 0%;
    opacity: 1;
  }

  .mainMenu {
    height: 100vh;
    padding-top: calc(2rem + $headerHeight);
    padding-bottom: 2rem;
    padding-left: 1rem;
    overflow: auto;

    nav {
      margin-bottom: 2rem;
    }

    a {
      font-size: 1.3rem;
    }
  }
}
