.menu {
  position: fixed;
  z-index: 9999;
  width: 0;
  height: 100vh;
  background-color: $overlay;
  inset: 0;

  .content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    background-color: var(--surface-900);
    transform: translateX(-100%);
    transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
    will-change: auto;
  }

  .top {
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    width: 100%;
    height: $headerHeight;
    border-bottom: $border-light;
    background-color: var(--surface-900);

    .close {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: fit-content;
      border: none;
      background-color: transparent;
      cursor: pointer;

      svg {
        font-size: 1.6rem;
      }

      p {
        font-weight: 500;
        font-size: 0.9rem;
        letter-spacing: 1.2px;
        text-transform: uppercase;
      }
    }
  }

  .mainMenu {
    height: 100vh;
    padding-top: calc(2rem + $headerHeight);
    padding-bottom: 2rem;
    padding-left: 1rem;
    overflow: auto;

    nav {
      margin-bottom: 2rem;
    }

    a {
      font-size: 1.3rem;
    }
  }
}

.menu.active {
  width: 100vw;

  .content {
    transform: translateX(-0%);
  }
}
