.grid {
  display: grid;
  margin-bottom: 2rem;
}

.variant1 {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
  row-gap: 3rem;
}

.variant2 {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 12px;
  row-gap: 2rem;
}

.variant3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;

  li {
    max-height: 350px;

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(8) {
      grid-column: span 2;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(7) {
      grid-column: span 1;
    }
  }
}

.variant4 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;

  li {
    &:nth-child(1) {
      grid-row: span 3;
      grid-column: span 2;

      h2 {
        font-size: 2rem;
      }
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      grid-row: span 1;
      grid-column: span 1;
      max-height: 190px;

      h2 {
        font-size: 1.3rem;
      }
    }
  }
}

.variant5 {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;

  li {
    &:nth-child(1) {
      grid-row: span 4;
      grid-column: span 2;

      h2 {
        font-size: 2rem;
      }
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      grid-row: span 2;
      grid-column: span 2;
      max-height: 300px;

      h2 {
        font-size: 1.3rem;
      }
    }
  }
}
