.grid {
  gap: $gap-s;
  margin-bottom: 2rem;
  columns: 3 300px;

  li {
    margin-bottom: $gap-s;

    &:nth-child(3n + 1) {
      height: 360px;
    }

    &:nth-child(3n + 2) {
      height: 500px;
    }

    &:nth-child(3n + 3) {
      height: 450px;
    }
  }

  @include respond(laptop_s) {
    columns: 2 300px;

    li {
      &:nth-child(4n + 1) {
        height: 360px;
      }

      &:nth-child(4n + 2) {
        height: 500px;
      }

      &:nth-child(4n + 3) {
        height: 450px;
      }

      &:nth-child(4n + 4) {
        height: 400px;
      }
    }
  }

  @include respond(mobile_l) {
    columns: unset;

    li {
      height: 360px !important;
    }
  }
}
