.grid {
  display: grid;
  gap: $gap;
  margin-bottom: 3rem;
}

.variant1 {
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  row-gap: 3rem;
}

.variant2 {
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  row-gap: 3rem;
}

.variant3 {
  grid-template-columns: repeat(3, 1fr);

  li {
    max-height: 350px;

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(8) {
      grid-column: span 2;

      h2 {
        max-width: 500px;
      }
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(7) {
      grid-column: span 1;
    }
  }
}

.variant4 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  li {
    &:nth-child(1) {
      grid-row: span 3;
      grid-column: span 2;

      h2 {
        max-width: 500px;
        font-size: 2rem;
      }
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      grid-row: span 1;
      grid-column: span 1;
      max-height: 190px;

      h2 {
        font-size: 1.5rem;
      }
    }
  }
}

.variant5 {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);

  li {
    h2 {
      max-width: 500px;
    }

    &:nth-child(1) {
      grid-row: span 4;
      grid-column: span 2;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      grid-row: span 2;
      grid-column: span 2;
      max-height: 300px;
    }
  }
}

.variant6 {
  grid-template-columns: repeat(6, 1fr);

  li {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      grid-column: span 2;
      aspect-ratio: 4/3;
    }

    &:nth-child(4),
    &:nth-child(5) {
      grid-column: span 3;
      aspect-ratio: 16/9;
    }
  }
}
