.comment {
  width: auto;
  margin-bottom: 0.5rem;
  padding: 1.5rem 2rem;
  border: $border-light;
  border-radius: $radius1;

  @include respond(tablet) {
    padding: 1rem 1.5rem;
  }

  @include respond(mobile_l) {
    padding: 1rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: $border-light;

  .meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include respond(mobile_l) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .name {
    margin-right: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    white-space: nowrap;
  }
}

.content {
  color: var(--on-surface-300);
}
