.container {
  position: relative;
  width: auto;
  max-width: 1440px;
  margin: 0 auto;
  margin: 0 4rem;

  @include respond(laptop_s) {
    margin: 0 2rem;
  }

  @include respond(mobile_l) {
    margin: 0 0.5rem;
  }
}
