.page {
  width: 100%;
  text-align: center;

  .container {
    padding-bottom: 5rem;
  }

  h1 {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  .subtitle {
    max-width: 600px;
    margin: 0 auto;
    color: var(--on-surface-300);
    font-size: 1.1rem;
  }
}
