/* stylelint-disable scss/operator-no-newline-after */
@mixin font-size($min, $max, $min-vw: 320px, $max-vw: 1600px, $fallback: false, $line-height: 1.5) {
  $min-no-unit: strip-units($min);
  $max-no-unit: strip-units($max);
  $min-vw-no-unit: strip-units($min-vw);
  $max-vw-no-unit: strip-units($max-vw);

  @if getUnit($min) == 'rem' or getUnit($min) == 'em' {
    $min-no-unit: strip-units($min) * 16;
    $max-no-unit: strip-units($max) * 16;
  }

  $responsive: calc(
    #{$min-no-unit}px + (#{$max-no-unit} - #{$min-no-unit}) *
      ((100vw - #{$min-vw}) / (#{$max-vw-no-unit} - #{$min-vw-no-unit}))
  );

  @if $fallback {
    font-size: $fallback;
  } @else {
    font-size: $max;
  }

  font-size: $responsive;

  @media screen and (max-width: #{$min-vw}) {
    font-size: $min;
  }

  @media screen and (min-width: #{$max-vw}) {
    font-size: $max;
  }
}

@mixin text-shorten($numLines: 1) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @supports (-webkit-line-clamp: $numLines) {
    display: -webkit-box;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $numLines;
  }
}

@mixin gradient-overlay {
  &::after {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(black, 0.4);
    background: linear-gradient(
      360deg,
      rgba(black, 0.9) 0%,
      rgba(black, 0.7) 30%,
      rgba(black, 0.5) 50%,
      rgba(black, 0.3) 70%,
      rgba(black, 0) 100%
    );
    content: '';
    inset: 0;
  }
}
