.list {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin: 0.5rem 0;

  .item {
    color: var(--on-surface-300);
    font-size: 0.9rem;

    @include text-shorten(1);

    a {
      display: flex;
      align-items: center;
      color: var(--on-surface-100);
      font-weight: 600;

      svg {
        margin-left: 0.3rem;
      }
    }
  }
}
