.select {
  display: inline-block;

  label {
    margin-right: 4px;
  }
}

.dropDown {
  position: relative;
  display: inline-block;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: $radius-s;
  background-color: var(--surface-800);
  cursor: pointer;

  svg {
    color: var(--primary-400);
  }
}

.open {
  box-shadow: $box-shadow-1;
}

.selectedOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  font-weight: 400;
}

.optionsList {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
  margin: 4px 0;
  overflow: hidden;
  border: $border-light;
  border-radius: $radius-s;
  list-style: none;
  background-color: var(--surface-900);
  box-shadow: $box-shadow-1;
}

.option {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0.6rem 1rem;
  border-bottom: $border-light;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: right;
  cursor: pointer;

  &:last-child {
    border-bottom: 0px;
  }
}

.option:hover,
.option.selected {
  background-color: var(--surface-800);
}
