.select {
  display: inline-block;

  label {
    margin-right: 4px;
  }
}

.dropDown {
  position: relative;
  display: inline-block;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  cursor: pointer;
}

.open {
  border-color: #aaaaaa;
}

.selectedOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}

.optionsList {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  margin: 4px 0;
  padding: 0;
  border: $border-light;
  border-radius: 4px;
  list-style: none;
  background-color: var(--surface-900);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.option {
  padding: 0.5rem 1rem;
  border-bottom: $border-light;
  text-align: right;
  cursor: pointer;

  &:last-child {
    border-bottom: 0px;
  }
}

.option:hover,
.option.selected {
  background-color: var(--surface-800);
}
