.subtitle {
  max-width: 560px;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;

  @include respond(mobile_l) {
    text-align: center;
  }
}

.config {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
