.category {
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 3px 4px 2px 4px;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 1.3px;
}
