.page {
  width: 100%;
  padding-bottom: 5rem;

  .content {
    max-width: 760px;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem 3rem;
    border: $border-light;
    border-radius: $radius-s;
    background-color: var(--surface-800);

    @include respond(mobile_l) {
      margin-top: 2rem;
      padding: 2rem 1rem;
    }
  }
}
