.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-top: 1rem;

  input {
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    border: 0.1px solid var(--on-surface-400);
    border-radius: $radius1;
    font-size: 1rem;
  }
}
