.search {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.form {
  position: relative;
  width: 100%;

  input {
    height: 4rem;
    padding-left: 4rem;
    border-radius: $radius-xl;
    box-shadow: $box-shadow-1;
  }
}

.iconSearch {
  position: absolute;
  top: 50%;
  left: 2rem;
  color: var(--on-surface-500);
  font-size: 1.3rem;
  transform: translateY(-50%);
}
