.dropdown {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 99;
  background-color: var(--surface-900);
  animation: slide-down 0.2s linear forwards;

  .inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    justify-items: center;
    padding: 3rem;

    & > li:first-child {
      display: flex;
      justify-content: center;
      width: 100%;
      border-right: $border-light;
    }
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    border-bottom: $border-light;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transform: translateY(0%);
  }
}
