.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 2rem;

  input,
  textarea {
    border: 1px solid var(--surface-600);
    border-radius: $radius1;
    font-size: 1.1rem;
    background-color: var(--surface-800);
  }

  input {
    height: 4rem;
    padding-left: 1rem;
  }

  textarea {
    min-height: 400px;
    padding: 1rem;
    font-family: roboto, sans-serif;
    resize: vertical;
  }
}
