.header {
  position: relative;
  z-index: 100;
  border-bottom: $border-light;
  background-color: var(--surface-dark);

  .wrapper {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    height: $headerHeight;

    @include respond(mobile_l) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .logo {
    color: var(--on-surface-dark-100);

    strong {
      font-size: 2rem;
      font-family: var(--font-heading);
    }

    @include respond(mobile_l) {
      display: none;
    }
  }

  .menu {
    display: none;
    gap: 0.5rem;
    width: fit-content;
    border: none;
    color: var(--on-surface-dark-100);
    background-color: transparent;
    cursor: pointer;

    @include respond(laptop_s) {
      display: flex;
      align-items: center;
    }

    svg {
      font-size: 1.6rem;
    }

    p {
      font-weight: 600;
      font-size: 0.9rem;
      letter-spacing: 1.2px;
      text-transform: uppercase;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    color: var(--on-surface-dark-100);

    @include respond(laptop_s) {
      display: none;
      color: var(--on-surface-100);
    }
  }
}
