.navbar {
  display: flex;
  flex-direction: column;

  &.row {
    .list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;
    }
  }

  &.column {
    .list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .title {
    margin-bottom: 1rem;
    color: var(--on-surface-500);
    font-size: 1rem;
  }
}
