.navbar {
  display: flex;
  width: 100%;
  align-items: center;

  .list {
    display: flex;
    align-items: center;
    gap: 2rem;

    .item {
      font-size: 0.8rem;
    }

    .active {
      color: red;
      text-decoration: underline;
    }
  }

  .logo {
    margin-right: 3rem;

    strong {
      @include font-size(1.2rem, 2rem);
    }
  }
}
