.section {
  margin-bottom: 6rem;

  .title {
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    white-space: nowrap;
  }

  .button {
    max-width: 220px;
    margin: 0 auto;
  }
}
