.section {
  position: relative;
  margin-bottom: 6rem;

  .title {
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    white-space: nowrap;
  }

  .button {
    position: absolute;
    top: 1rem;
    right: 0;
    text-decoration: underline;
  }
}
