.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: $border-light;
  background-color: var(--surface-800);

  .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding: 3rem 0;

    @include respond(tablet) {
      grid-template-columns: 1fr;
      justify-items: unset;
    }

    .about {
      max-width: 400px;
      font-size: 1rem;

      .title {
        color: var(--on-surface-500);
      }
    }

    .aboutContent {
      margin-top: 1rem;
      font-weight: 500;
      font-size: 1rem;
    }

    .links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: 3rem;
      width: 100%;

      @include respond(tablet) {
        justify-items: unset;
      }

      @include respond(mobile_l) {
        grid-template-columns: 1fr;
      }
    }
  }

  .copyright {
    width: fit-content;
    width: 100%;
    padding: 1rem 0;
    border-top: $border-light;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
  }
}
