.banner {
  width: 100%;
  background-color: var(--surface-600);

  .inner {
    max-width: 660px;
    margin: 0 auto;
    padding: 4rem 0 4rem 0;

    .title {
      margin-bottom: 1rem;

      strong {
        color: var(--primary-400);
        font-family: var(--font-heading);
      }
    }

    .subtitle,
    .description {
      margin-bottom: 2rem;
      padding-left: 3rem;
      font-weight: 300;
      font-size: 1.2rem;

      @include respond(mobile_l) {
        text-align: center;
      }
    }
  }
}
