.banner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--on-surface-dark-100);
  background-color: var(--surface-dark);
}

.content {
  width: 100%;
  height: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 660px;
  margin: 0 auto;
  padding: 3rem 0 5rem 0;
  text-align: center;

  .title {
    margin-bottom: 2rem;

    strong {
      color: var(--primary-400);
      font-family: var(--font-heading);
    }
  }

  .subtitle,
  .description {
    margin-bottom: 3rem;
    font-weight: 300;
    font-size: 1.2rem;

    @include respond(mobile_l) {
      text-align: center;
    }
  }
}

.navigation {
  margin-bottom: 5rem;
}
