.post {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 585px;
  height: 100%;
  flex-direction: column;
  align-items: stretch;

  .image {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-1);
    object-fit: cover;

    &.ratio-16-9 {
      aspect-ratio: 16/9;
    }

    &.ratio-4-3 {
      aspect-ratio: 4/3;
    }

    &.ratio-5-3 {
      aspect-ratio: 5/3;
    }
  }

  .content {
    flex-grow: 1;
    padding-top: 1rem;
  }

  .categories {
    position: absolute;
    top: 1rem;
    left: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    gap: 0.5rem;

    .category {
      width: fit-content;
      padding: 0.2rem 0.5rem;
      border-radius: 0 var(--radius-1) var(--radius-1) 0;
      color: white;
      font-size: 0.8rem;
    }
  }

  .title {
    margin-bottom: 0.2rem;
    color: var(--on-surface-100);
    font-size: 1rem;
    font-weight: 500;
    @include text-shorten(1);
  }

  .excerpt {
    @include text-shorten(4);
    color: var(--on-surface-200);
    font-size: 0.88rem;
  }
}
