.button {
  position: fixed;
  right: -2.5rem;
  bottom: 6rem;
  display: flex;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  background-color: var(--surface-900);
  transform: translateX(50%);
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;

  &.visible {
    right: 2.5rem;
    bottom: 2rem;
    opacity: 1;
  }
}
