.main {
  .banner {
    margin-top: 3rem;

    .title {
      display: flex;
      align-items: baseline;
      gap: 0.5rem;
      margin-bottom: 1rem;

      @include respond(mobile_l) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      h1 {
        font-size: 3rem;
        line-height: 1;

        @include respond(mobile_l) {
          font-size: 2.5rem;
        }

        @include respond(mobile_m) {
          font-size: 2.2rem;
        }
      }
    }
  }

  .config {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
}
